
@{
    ViewBag.Title = "Column";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attendance Report</h2>
<br />
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .center2 {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 95%;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a, .dropdown-btn {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 18px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover, .dropdown-btn:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
                color: white;
            }
    </style>


    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Month', 'Total Fees'],
                ["Jan", 1500],
                ["Feb", 2300],
                ["March", 1800],
                ["April", 2000],
                ["May", 1200]

            ]);
            var options = {
                chart: {
                    title: 'Student Fees',
                    subtitle: 'Total Fees: Jan-May',
                }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Class', 'Attend', 'Absent'],
                ['3', 10, 4],
                ['4', 11, 4],
                ['5', 6, 11]
            ]);

            var options = {
                chart: {
                    title: 'Student Attendance',
                    subtitle: 'Attendance in January',
                }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        @Html.ActionLink("Staff Information", "Index", "Staffs")
        @Html.ActionLink("Student Information", "Index", "Studs")
        <a href="~/Attendance.aspx">Student Attendance</a>
        <a href="~/Fees.aspx">Student Fees</a>
        @Html.ActionLink("Attendance Report", "Column", "GoogleChart")
        @Html.ActionLink("Fees Report", "ColumnFees", "Google")
    </div>
    <br />


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }

    </script>
    <form id="form1" runat="server">
        <div>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a>
                                    <span style="font-size:16px;cursor:pointer" onclick="openNav()">&#9776; Menu </span>
                                </a>
                            </li>
                            <li class="active">@Html.ActionLink("Home", "Index", "Home2")</li>


                        </ul>
                        @Html.Partial("_LoginPartial")

                    </div>
                </div>
            </nav>
        </div>
    </form>
    <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
</body>
</html>