@model proj.Models.Model11

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Model11</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttendTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbsentTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbsentTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassTitle }) |
    @Html.ActionLink("Back to List", "Index")
</p>
