@model IEnumerable<proj.Models.Model11>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttendTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsentTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AttendTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbsentTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassTitle }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassTitle }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassTitle })
        </td>
    </tr>
}

</table>
